@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap');

:root {
    --light1: #fafafa;
    --light2: #ffffff;
    --background-dark: #202c37;
    --text-dark: #858585;
    --black: black;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background-color: var(--light1);
    color: var(--black);
    font-family: 'Nunito Sans', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark mode styles */
body.dark-mode {
    --light2: #2b3945;
    --light1: #202c37;
    --background-dark: #121212;
    --text-dark: #ffffff;
    --black: var(--white);
}

.search-container button {
    padding: 1.25rem 1.563rem;
}

.header button {
    border: none;
    background-color: var(--light2);
}

.header {
    height: 20%;
    background-color: var(--light2);
    padding: 1.25rem 0 1.25rem 0;
    font-weight: 800;
    color: var(--black);
}

.fa-regular, .far {
    color: var(--black);
}
.header .container {
    margin: auto;
    align-items: center;
}

.icon-text {
    margin-left: 0.5rem;
    color: var(--black);
}

.filter {
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    padding-left: 1.25rem;
    background-color: var(--light2);
    border-radius: 0.313rem;
}

.searchbar .container {
    padding: 2.5rem 0px;
}

.select-wrap {
    background-color: var(--light1);
    border-radius: 0.313rem;/*5px*/
}

.search input[type=text] {
    float: right;
    padding: 1.25rem 15vw 1.25rem 0;
    font-size: 1.0625rem;
    border: none;
}

.search-container {
    background-color: var(--light2);
}

.search-container button {
    background-color: var(--light2);
    padding: 1.25rem 1.563 1.25rem 1.563;
    font-size: 1.0625;
    border: none;
    cursor: pointer;
    color: var(--black);
}

.clickcountry{
    height: 50%;
}
.cuntriesInfo .container {
    width: 100%;
}

.card-body h2, a {
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--black);
    white-space: nowrap;
    overflow: hidden;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 0.938rem;
}

.card {
    background-color: var(--light2);
    color: var(--black);
    margin-bottom: 3.75rem;
    width: 100%;
    height: 23rem;
}

.card-body p {
    padding-bottom: 0px;
}




.card-body p {
    padding-bottom: 0.3rem;
    margin: 0;
}

.bold {
    font-weight: 600;
    font-size: 16px;
}

a#dropdownMenuLink {
    background-color: var(--light2);
    color: black;
    border: 0;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 20px 30px 20px 30px;
}

.dropdown-toggle::after {
    margin-left: 1.255em;
}

.dropdown-menu {
    width: -webkit-fill-available;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
    background-color: var(--light2);
}

.dropdown .btn {
    color: var(--black);
}

.dropdown-menu a {
    color: var(--black);
}

button#dropdownMenuButton {
    background-color: var(--light2);
    color: var(--black);
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 20px 30px 20px 30px;
}

.navbar {
    color: var(--black);
    border: none;
}

.input-group-prepend {
    background-color: var(--light2);
    color: var(--light2);
}

.form-control {
    border: none;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-right: 18vw;
    background-color: var(--light2);
}
.form-control:focus {
    box-shadow: none;
    background-color: var(--light2);
    color: var(--black);
}
.form-control::placeholder {
    color: var(--black);
}

.container .text-left {
    width: auto;
}

.dropdown-menu {
    padding-left: 10px;
}

.dropdown {
    padding-top: 0.5rem;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}


.favourite {
    width: 28.125rem;
    background-color: var(--light2);
    padding: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.favoritetitle h1 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

.favorite-item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: 0.25rem;
}

.clickable {
    cursor: pointer;
    text-decoration: none;
}

.remove-button {
    text-decoration: none;
    background-color: var(--light1);
    color: var(--black);
    font-weight: 600;
    border-radius: 50%;
}

.favorite-card {
    padding-bottom: 0.625rem;
}

.scrollbar {
    overflow-y: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.countriesInfo {
    height: 80vh;
}

.countries {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container.text-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 576px) {
    .countriesInfo {
        height: 100%; 
    }
}

.countriesInfo ::-webkit-scrollbar {
    width: 0.625rem;
    background-color: #f1f1f1;
}

.countriesInfo ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.313rem;
}

.countriesInfo ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.favicons {
    overflow-y: auto;
}

.favorite-star {
    color: rgb(245, 215, 215);
    cursor: pointer;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.favorite-star.filled {
    color: #ffdb58;
}
.starRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 102%;
}




#overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 9999;
}

#loadingIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}




.lds-grid {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
}

.lds-grid div {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--text-dark);
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 0.5rem; 
    left: 0.5rem;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 0.5rem;
    left: 2rem;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 0.5rem;
    left: 3.5rem;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 2rem;
    left: 0.5rem;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 2rem;
    left: 2rem;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 2rem;
    left: 3.5rem;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 3.5rem;
    left: 0.5rem;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 3.5rem;
    left: 2rem;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 3.5rem;
    left: 3.5rem;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.btn {
    --bs-btn-padding-x: 0.438rem; /* 7px */
    --bs-btn-padding-y: 0.125rem; /* 2px */
}



.link-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: none; /* Add underline style to mimic a link */
    color: inherit;
}

.link-button:focus {
    outline: none; /* Remove focus outline for better aesthetics */
}







@media (min-width: 0px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
        padding: 0 60px;
    }
}
@media (min-width: 1400px){

    .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .col-lg-3 {
        width: 23%;
    }
    .favourite{
        width: 450px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px){

    .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .col-lg-3 {
        width: 48%;
    }
    .favourite{
        width: 350px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){

    .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .col-lg-3 {
        width: 48%;
    }
    .favourite{
        width: 300px;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .row-cols-md-3>* {
        width: 48%;
    }
    .favourite{
        width: 250px;
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .d-flex {
        display: flex!important;
        flex-wrap: wrap;
    }
    h1{
        font-size: 20px;
    }
    .header a{
        font-size: 18px;
    }
    .header h1{
        margin: 0;
        font-weight: 600;
    }
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 45%;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
        padding: 0 20px;
    }
    .row {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .favourite{
        width: 250px;
    }

}
@media (max-width: 576px){
    .d-flex {
        display: flex!important;
        flex-wrap: wrap;
    }
    h1{
        font-size: 20px;
    }
    .header a{
        font-size: 18px;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
        padding: 0 20px;
    }
    .card {
        width: 80%;
        margin-bottom: 45px;
        height: 25rem;
    }
    .card-title {
        padding-top: 5px;
    }
    .col-lg-3 {
        display: flex;
        justify-content: center;
    }
    .favourite {
        display: none;
    }
}
@media (min-width: 576px) {
    .favorite-star {
        display: none;
    }
}